{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<section id="content">
    <section class="wrapper">
        <div class="card">
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    <h2>{{ title }}</h2>
      
        <h1>Welcome Back!</h1>
        
        <form method="post">
        {% csrf_token %}
        
        <div class="fieldWrapper">
        	{{ form.email.errors }}
        	<label for="id_email">{% trans 'Email address:' %}</label>
            <input type="email" name="email" required id="id_email" maxlength="254" placeholder="Enter Your Email"/>
        </div>
                
        <button class="button button-block" type="submit" value="{% trans 'Reset my password' %}"/>Submit</button>

        </form>
</div>
</section>
</section>
{% endblock %} 
