{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<section id="content">
    <section class="wrapper">
        <div class="card">

    <h2>{{ title }}</h2>
    <div class="fieldWrapper">
        {% if form.new_password1.help_text %}
        <div class="help">{{ form.new_password1.help_text|safe }}</div>
        {% endif %}
    </div>
    <div class="fieldWrapper">
        {% if form.new_password2.help_text %}
        <div class="help">{{ form.new_password2.help_text|safe }}</div>
        {% endif %}
    </div> 
        
        <form method="post">
        {% csrf_token %}

        <div class="fieldWrapper">
            {{ form.old_password.errors }}
            {{ form.old_password.label_tag }} 
            {{ form.old_password }}
        </div>
        
        <div class="fieldWrapper">
            {{ form.new_password1.errors }}
            {{ form.new_password1.label_tag }} 
            {{ form.new_password1 }}
            
        </div>

        <div class="field-wrap">
            {{ form.new_password2.errors }}
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
               
        </div>
                
        <button type="submit" value="{% trans 'Change my password' %}"/>Submit</button>
        
        </form>
          
</div>
</section>
</section>
{% endblock %} 

